/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.package-text a,
div a {
    text-decoration: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-size: 13px;
}

/* Header (Navigation Bar) */
header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-bottom: 2px solid #ddd;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #92afec;
    font-size: 25px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4B7BE5;
}

.main_body{
    height: auto;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #27187e;
    text-shadow: 2px 2px 4px #c8ddd3;
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text-package {
    color: #758bfd;
}

.img-placeholder {
    border-radius: 15px 50px 30px 5px;
    width: 95%;
    height: 35%;
    padding: 5px;
    box-shadow: 5px 3px 5px #cad2c5;
}

.package-img-placeholder {
    width: 80%;
    height: 85%;
    border-radius: 15px 50px 30px;
    padding: 5px;
}

.explore-btn {
    display: inline-block;
    padding: 20px 20px;
    color: #f7f0f1;
    text-decoration: none;
}

.explore-btn:hover {
    font-size: 3.6rem;
    border-radius: 8px;
}

/*  Destination  */
.destination-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #faf6f6;
}

.destination {
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 15px;
    width: 30%;
    box-shadow: 0 0 10px rgb(95, 89, 89);
    margin-bottom: 10px;
    letter-spacing: 0.2;
}

.destination-title {
    margin-top: -51px;
    font-size: 1.8rem;
    color: #fbd1a2;
    font-weight: bold;
    text-shadow: 3px 2px #ac3931;
    margin-left: 10px;
    margin-bottom: 19px;
}

.destination img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.destination_text {
    display: relative;
    font-size: 1.2rem;
    color: #f8edeb;
    border-radius: 11px;
    letter-spacing: 1.2px;
    text-shadow: 2px 2px 5px red;
    margin-left: 10px;
    padding: 5px 10px;
    width: 100%;
}

.created-on {
    color: rgba(224, 243, 117, 0.3);
    font-size: 1.8rem;
    font-weight: 400;
}

article .description_text {
    font-size: 14px;
    color: #f7e1d7;
}

/* Package  */
.package-container {
    display: absolute;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 50%;
    background-color: #ffffff;
}

.package-body {
    display: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px 30px;
    width: 60%;
    box-shadow: 0 0 10px rgb(150, 143, 143);
    margin: 5px;
    letter-spacing: 0.2;
}

.package-text {
    font-size: 2rem;
    color: hsl(1, 61%, 27%);
    display: relative;
    letter-spacing: 1.2px;
    text-shadow: 2px 2px 5px #131008;
}

.package-body article {
    font-size: 1rem;
    color: #012a4a;
}

.package_price {
    color: #311fe2;
    font-size: 2rem;
    font-style: italic;
    font-weight: 600px;
}

div.polaroid {
    background-color: #ada7c9;
    box-shadow: 0 4px 8px 0 rgba(171, 102, 102, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

/* Info section */
.info {
    display: relative;
    border: 2px solid #473d3d;
    border-radius: 10px;
    width: 85%;
    height :auto;
    box-shadow: 0 0 10px #06241c;
    margin-top: 2px;
    padding: 10px 5px;
    background: #cfbaf0;
    color: #012a4a;
}


.info_link{
    font-size: 1.2rem;
    color: #f8edeb;
    letter-spacing: 1.2px;
    text-shadow: 2px 2px 5px rgb(110, 44, 44);
    margin-left: 10px;
    padding: 5px 10px;
}

/* Booking Form */
.booking-body {
    background-color: #f3ffe1;
    height: 48%;
    border-style: solid;
    border-color: rgba(171, 102, 102, 0.2);
    border-radius: 8px 5px;
    position: fixed;
    left: 60%;
    top: 165px;
    z-index: 2;
}

.dropdown-item {
    color: rgb(245, 218, 218);
    font-size: 1.2rem;
    font-weight: bold;
}

/* My Booking Section */
.myBooking_body {
    display: relative;
    border: 2px solid #473d3d;
    border-radius: 10px;
    width: 80%;
    height : auto;
    box-shadow: 0 0 10px #06241c;
    margin-top: 2px;
    padding: 5px 5px;
    background: #e8e5ee;
}
/* Comment Section */
h5 i {
    font-size: 3rem;
}

.comment-body {
    color: #3c391d;
}


/* Footer Section */
footer {
    background-color: #412804;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    margin-bottom: 10px;
}

footer p {
    font-size: 16px;
}

.social-media-item {
    width: 120px;
    margin: 10px 10px;
    font-size: 2rem;
    color: #a2d2ff;
}