{% extends "base.html" %}
{% load static %}
{% block content %}
<div>   
    <section class="hero">
        <img src="{% static 'images/hero_image.jpg' %}" alt="Hero Image" class="hero-image">
        <div class="hero-text">
            <h1 class="">Travel with Peace</h1>
            <a href="#" class="explore-btn">Explore <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </section>
</div>
<div class="container-fluid">
    <!-- Destination Column -->
    <div class="destination-container">
        {% for destination in destination_list %}
        <div class="destination polaroid">
                <article>
                <h2 class="destination-title">{{ destination.title }}</h2>
                {% if "placeholder" in destination.featured_image.url %}
                <a href="{% url 'package_detail' destination.slug %}">
                    <img class="img-placeholder" src="{% static 'images/default.jpg' %}" alt="placeholder image"></a>
                {% else %}
                <a href="{% url 'package_detail' destination.slug %}">
                    <img class="img-placeholder" src="{{ destination.featured_image.url }}" alt="{{ destination.title }}"></a>
                {% endif %}
                   
                     <p> {{ destination.description }} </p>
                </article>
                <div class="dropdown">
                    <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                      Our Packages
                    </button> -->
                    <!-- <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'package_detail' destination.slug %}">16 Days Classic Family</a>
                      <a class="dropdown-item" href="#">14 Days Adventurious Solo</a>
                      <a class="dropdown-item" href="#">12 Days Wild Nature and Beach </a>
                      <a class="dropdown-item" href="#">7 Days Luxury Delux </a>
                    </div> -->
                    <a class="destination_text" href="{% url 'package_detail' destination.slug %}"> Our Packages > </a>
                    {% if destination.info %}
                    <a class="destination_text" href="{% url 'info_detail' destination.slug %}" > More Info </a>
                    {% endif %}
                  </div>
                
        </div>
        {% if forloop.counter|divisibleby:6 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    <div>    
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>
{% endblock content%}