{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <!-- Destination Column -->
    <div class="destination-container">
        {% for destination in destination_list %}
        <div class="destination">
            <a><h2 class=""><a href="" class="">{{ destination.title }}</a></h2>
                {% if "placeholder" in destination.featured_image.url %}
                <img class="img-placeholder" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                {% else %}
                <img class="img-placeholder" src="{{ destination.featured_image.url }}" alt="{{ destination.title }}">
                {% endif %}
                <article>
                    <p> {{ destination.description }} </p>
                    <hr />
                    <p class="card-text"> {{ destination.created_on}} </p>
                </article>
                <button class="btn btn-primary">Our Packages</button>
                <button class="btn btn-info">Info</button>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content%}