{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <!-- Destination Column -->
    <div class="destination-container">
        {% for destination in destination_list %}
        <div class="destination polaroid">
                {% if "placeholder" in destination.featured_image.url %}
                <img class="img-placeholder" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                {% else %}
                <img class="img-placeholder" src="{{ destination.featured_image.url }}" alt="{{ destination.title }}">
                {% endif %}
                <article>
                    <h2 class="destination-title"><a>{{ destination.title }}</a></h2>
                    <br>
                    <p> {{ destination.description }} </p>
                    <hr />
                    <p class="created-on"> {{ destination.created_on}} </p>
                </article>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                      Our Packages
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'package_detail' destination.slug %}">16 Days Classic Family</a>
                      <a class="dropdown-item" href="#">14 Days Adventurious Solo</a>
                      <a class="dropdown-item" href="#">12 Days Wild Nature and Beach </a>
                      <a class="dropdown-item" href="#">7 Days Luxury Delux </a>
                    </div>
                    <button class="btn btn-primary btn-destination">More Info </button>
                  </div>
                
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    </div>
    {% endif %}
</div>
{% endblock content%}