{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Header Image  -->
    <section class="hero">
        {% if "placeholder" in destination.featured_image.url %}
        <img src= "{% static 'images/default.jpg' %}" alt="Hero Image" class="hero-image">
        {% else %}
        <img src= "{{ destination.featured_image.url }}" alt="Hero Image" class="hero-image">
        {% endif %}
    </section>
    <!-- Info body start here  -->
    <div class="mx-auto info">
        <article >
            <h1>{{ destination.title }}</h1>
            <p>  {{ destination.info.things_to_do | safe }} </p>
            <p>  {{ destination.info.localFood | safe }} </p>
            <p>  {{ destination.info.places_to_explore | safe }} </p>
        </article>
    </div>
{% endblock content %}