{% extends "base.html" %}
{% load static %}
{% block content %}
<div>   
    <section class="hero">
        <img src="{% static 'images/hero_image.jpg' %}" alt="Hero Image" class="hero-image">
        <div class="hero-text">
            <h1 class="">Travel with Peace</h1>
            <!-- <a href="#" class="explore-btn">Explore <i class="fa-solid fa-plane-departure"></i></a> -->
        </div>
    </section>
</div>
<div class="container-fluid">
    <!-- Booking Column start here -->
    <div class="row">
        <div class="col-md-8 myBooking_body mx-auto">
            <!-- check if user is authenticated  -->
            {% if user.is_authenticated %}
            <h2> Hi , {{user.username}} </h1>
            <h2>  This is your booking list  </h2>
            {% for booking in bookings %}
                <div class="row"> 
                    <span> 
                        The package {{ booking.package }} | 
                        You booked for Month  {{ booking.month }} | 
                        Number of people {{ booking.no_of_people }}
                    </span>
                    </hr>
                    <span>
                        <button class="btn btn-primary btn-lg"> Edit </button>
                        <button class="btn btn-primary btn-lg"> Delete </button>
                    </span>
                         
                </div>
            {% endfor %}
            {% else %}
                <div class="row">
                    <p> Please log in to see your Booking List here. </p>
                </div>   
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content%}